In [1]:
import pandas as pd
import requests
from sqlalchemy import create_engine


path = '/home/emmanuel/Desktop/descarga_db/raw_data_project_m1.db'
engine = create_engine(f'sqlite:///{path}')
raw_df = pd.read_sql_query("SELECT * FROM sqlite_master WHERE type='table'", engine)

In [1]:
#query to get the df information I want

In [6]:

r = requests.get('http://api.dataatwork.org{}'.format())

IndexError: tuple index out of range

In [5]:
#jobs related to normalized_job_code 
#r = requests.get('http://api.dataatwork.org/v1/jobs/ac47656fd51c2cd8037057262c910dc4')
#req = r.json()

#api caller function

In [24]:

#df_raw['normalized_job_code'].unique()

In [7]:
#x = df_raw['normalized_job_code'].apply(api_caller)

In [94]:
#country codes through webscrapping

url = 'https://www.iban.com/country-codes' 
raw_codes = pd.read_html(url,header=0)[0]
raw_codes

#only keeping columns that are needed
country_codes = raw_codes.drop(columns=['Alpha-3 code','Numeric'])
country_code = country_codes.rename(columns={'Country':'country','Alpha-2 code':'country_code'})

#saving all the country codes
country_code.to_csv('country_codes.csv',index=False)

In [ ]:
#merging clean_ppl and country

for i in country_code_list:
    
    response = requests.get(f'https://restcountries.eu/rest/v2/alpha/{i}')
    country_dic[i] = (response.json())['name']

In [ ]:
url = 'https://ec.europa.eu/eurostat/statistics-explained/index.php/Glossary:Country_codes'
html = requests.get(url).content

In [ ]:
soup = bs(html, 'lxml')
soup = soup.find_all('td')

lst = []

for i in soup:
    if str(i) != ' ':
        lst.append(str(i)[4:-6])

In [ ]:
countries = []
codes = []

for i in range(0, len(lst[:56])): # Hasta UK
    if i%2==0:
        countries.append(lst[i])
    else: 
        codes.append((lst[i].strip())[1:-1])

pd.DataFrame(zip(countries, codes), columns=['country', 'code']).to_parquet('../data/raw/webscraping_country_code-name.parquet')