In [2]:
import pandas as pd
import requests
from sqlalchemy import create_engine


path = '/home/emmanuel/Desktop/descarga_db/raw_data_project_m1.db'
engine = create_engine(f'sqlite:///{path}')
raw_df = pd.read_sql_query("SELECT * FROM sqlite_master WHERE type='table'", engine)

In [1]:
#query to get the df information I want

In [6]:

r = requests.get('http://api.dataatwork.org{}'.format())

IndexError: tuple index out of range

In [5]:
#jobs related to normalized_job_code 
#r = requests.get('http://api.dataatwork.org/v1/jobs/ac47656fd51c2cd8037057262c910dc4')
#req = r.json()

#api caller function

In [24]:

#df_raw['normalized_job_code'].unique()

In [7]:
#x = df_raw['normalized_job_code'].apply(api_caller)

In [3]:
#country codes through webscrapping

url = 'https://www.iban.com/country-codes' 
raw_codes = pd.read_html(url,header=0)[0]
raw_codes

#only keeping columns that are needed
country_codes = raw_codes.drop(columns=['Alpha-3 code','Numeric'])
country_code = country_codes.rename(columns={'Country':'country','Alpha-2 code':'country_code'})

#saving all the country codes
#country_code.to_csv('country_codes.csv',index=False)

In [4]:
#merging clean_ppl and country
raw_codes

               Country Alpha-2 code Alpha-3 code  Numeric
0          Afghanistan           AF          AFG        4
1        Åland Islands           AX          ALA      248
2              Albania           AL          ALB        8
3              Algeria           DZ          DZA       12
4       American Samoa           AS          ASM       16
..                 ...          ...          ...      ...
244  Wallis and Futuna           WF          WLF      876
245     Western Sahara           EH          ESH      732
246              Yemen           YE          YEM      887
247             Zambia           ZM          ZMB      894
248           Zimbabwe           ZW          ZWE      716

[249 rows x 4 columns]

In [6]:
country_code

               country country_code
0          Afghanistan           AF
1        Åland Islands           AX
2              Albania           AL
3              Algeria           DZ
4       American Samoa           AS
..                 ...          ...
244  Wallis and Futuna           WF
245     Western Sahara           EH
246              Yemen           YE
247             Zambia           ZM
248           Zimbabwe           ZW

[249 rows x 2 columns]

In [ ]:


from bs4 import BeautifulSoup

# lxml is the parsing module
soup = BeautifulSoup(html, 'lxml')
table = soup.find_all('table', {'class':'itemlist'})[0]

table

###################3
##################3#
3###################

rows = table.find_all(['a', 'span'], {'class': ['storylink', 'sitestr', 'hnuser', 'score', 'age']})
rows_parsed = [row.text for row in rows]

rows_parsed